body {
    background-color: #616161;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    margin: 100px;
}

.parent  {
    background-color: #949895;
    border:2px solid pink;
    border-radius: 1rem;
    height: 600px;
    width: 50%;
    margin: auto;
    position: relative;
    
}

.parent img {
    height: 70px;
    width: 100px;
}
.parent button {
    margin-top: 160px;
}

