.loader {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border : 10px solid rgb(90, 88, 197);
    border-top: 10px solid rgb(10, 242, 10);
    animation: loader 1s ease-in infinite 0s;
    margin-top: 10%;
    margin-left: 30%;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}